.modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    padding-top: 200px;
}

.modalContent {
    padding: 30px 16px 30px 16px;
    background-color: #fff;
    position: relative;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}

.active {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}