.score {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  gap: 16px;
  h1 {
    text-align: center;
  }

  &-container {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
  }
  &-wrapper {
    h2 {
      margin-bottom: 16px;
    }
  }
  &-titles {
    display: flex;
    justify-content: space-between;
  }
  &-item__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-select {
    width: 100px;
  }
}

.div-wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  button {
    margin-top: 50px;
  }
}

.btn-wrapper {
  display: flex;
  // align-items: center;
  justify-content: center;
  gap: 16px;
}

.active-mode {
  // border: 2px solid #9dfaa2;
  background-color: #9dfaa2;
}
