*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;

  background-color: #c5dafc;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
}

.container-game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding-top: 50px;
}

.link {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 46px;
  border: none;
  border-radius: 5px;

  list-style: none;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000;
}